// font size
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize17: 17px;
$fontSize18: 18px;
$fontSize19: 19px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$titleSize51: 51px;
$rirleSize32: 32px;

// colors
$white: #ffffff;
$gray: #9c9c9c;
$blue: #3d96f4;

// background colors
$blackBg: #0d0d11;
$grayBg: rgba(129, 129, 139, 0.302);
$blueBg: #3d96f4;
$lightBlueBg: #0089ff;
$lightYellowBg: #ff6f35;
$lightGreenBg: #5cc97b;
$lightOrangeBg: #f6ca4f;

// border radius
$borderRad10: 10px;
$borderRad12: 12px;
$borderRad24: 24px;
$borderRad30: 30px;
$borderRad36: 36px;
$borderRad50: 50px;
$borderRad68: 68px;
$borderRad241: 241px;
$borderRad181: 181px;
$borderRad378: 378px;
