// colors
$white: #ffffff;
$gray: #9c9c9c;
$blue: #3d96f4;

// background colors
$blackBg: #0d0d11;
$grayBg: #81818b4d;
$blueBg: #3d96f4;
$blueBgHover: #6caff6;
$lightBlueBg: #0089ff;
$lightOrangeBg: #ff6f35;
$lightGreenBg: #5cc97b;
$lightYellowBg: #f6ca4f;

// border radius
$borderRad10: 10px;
$borderRad12: 12px;
$borderRad24: 24px;
$borderRad30: 30px;
$borderRad36: 36px;
$borderRad50: 50px;
$borderRad68: 68px;
$borderRad241: 241px;
$borderRad181: 181px;
$borderRad378: 378px;

// transition
$transition: 0.4s;
