@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  background-color: #0d0d11;
  color: #ffffff;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  min-height: 100px;
}
body.hide {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*=__container] {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  width: 100%;
  background: #0d0d11;
  box-shadow: 0px 0px 6px 0px rgba(129, 129, 139, 0.3019607843);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding-block: 10px;
}
.header__menu {
  flex: 1 1 auto;
  margin-right: 27px;
}
@media (max-width: 1320px) {
  .header__menu {
    margin-right: calc(
        15px + 12 *
          ((100vw - 320px) / 1000)
      );
  }
}
.header__cart {
  margin-right: 27px;
  font-size: 16px;
  transition: 0.4s;
}
@media (max-width: 1320px) {
  .header__cart {
    margin-right: calc(
        15px + 12 *
          ((100vw - 320px) / 1000)
      );
  }
}
@media (max-width: 1320px) {
  .header__cart {
    font-size: calc(
        12px + 4 *
          ((100vw - 320px) / 1000)
      );
  }
}
.header__cart:hover {
  color: #3d96f4;
}
.header__cart-number {
  font-size: 14px;
  background: rgba(129, 129, 139, 0.3019607843);
  padding-block: 5px;
  padding-inline: 10px;
  margin-left: 5px;
  border-radius: 30px;
}
@media (max-width: 1320px) {
  .header__cart-number {
    font-size: calc(
        12px + 2 *
          ((100vw - 320px) / 1000)
      );
  }
}
@media (max-width: 1320px) {
  .header__cart-number {
    padding-block: calc(
        1px + 4 *
          ((100vw - 320px) / 1000)
      );
  }
}
@media (max-width: 1320px) {
  .header__cart-number {
    padding-inline: calc(
        5px + 5 *
          ((100vw - 320px) / 1000)
      );
  }
}
.header__btn {
  padding-block: 16px;
  padding-inline: 30px;
  font-size: 16px;
  border: 2px solid #3d96f4;
  border-radius: 50px;
  background: #3d96f4;
  transition: 0.4s;
}
@media (max-width: 1320px) {
  .header__btn {
    padding-block: calc(
        2px + 14 *
          ((100vw - 320px) / 1000)
      );
  }
}
@media (max-width: 1320px) {
  .header__btn {
    padding-inline: calc(
        4px + 26 *
          ((100vw - 320px) / 1000)
      );
  }
}
@media (max-width: 1320px) {
  .header__btn {
    font-size: calc(
        11px + 5 *
          ((100vw - 320px) / 1000)
      );
  }
}
.header__btn:hover {
  background: transparent;
  color: #3d96f4;
}
.header__burger {
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  background: transparent;
  margin-left: 10px;
  position: relative;
  z-index: 999;
  transition: 0.4s;
  display: none;
}
@media (max-width: 1320px) {
  .header__burger {
    width: calc(
        25px + 10 *
          ((100vw - 320px) / 1000)
      );
  }
}
@media (max-width: 1320px) {
  .header__burger {
    height: calc(
        25px + 10 *
          ((100vw - 320px) / 1000)
      );
  }
}
.header__burger span {
  position: absolute;
  border: 1px solid transparent;
  border-radius: 25px;
  height: 3px;
  right: 3px;
  transition: 0.4s;
}
@media (max-width: 1320px) {
  .header__burger span {
    right: calc(
        0px + 3 *
          ((100vw - 320px) / 1000)
      );
  }
}
.header__burger span:nth-child(1) {
  width: 28px;
  top: 0px;
  background: #0089ff;
}
@media (max-width: 1320px) {
  .header__burger span:nth-child(1) {
    width: calc(
        22px + 6 *
          ((100vw - 320px) / 1000)
      );
  }
}
.header__burger span:nth-child(2) {
  width: 22px;
  top: 10px;
  background: #ff6f35;
}
@media (max-width: 1320px) {
  .header__burger span:nth-child(2) {
    width: calc(
        16px + 6 *
          ((100vw - 320px) / 1000)
      );
  }
}
.header__burger span:nth-child(3) {
  width: 16px;
  top: 20px;
  background: #5cc97b;
}
@media (max-width: 1320px) {
  .header__burger span:nth-child(3) {
    width: calc(
        10px + 6 *
          ((100vw - 320px) / 1000)
      );
  }
}
.header__burger:hover span {
  background: transparent;
}
.header__burger:hover span:nth-child(1) {
  border-color: #0089ff;
}
.header__burger:hover span:nth-child(2) {
  border-color: #ff6f35;
}
.header__burger:hover span:nth-child(3) {
  border-color: #5cc97b;
}
.header__burger.open span:nth-child(1) {
  top: 12px;
  transform: rotate(-45deg);
}
.header__burger.open span:nth-child(2) {
  opacity: 0;
}
.header__burger.open span:nth-child(3) {
  top: 12px;
  transform: rotate(45deg);
  width: 28px;
}
@media (max-width: 1320px) {
  .header__burger.open span:nth-child(3) {
    width: calc(
        22px + 6 *
          ((100vw - 320px) / 1000)
      );
  }
}
@media screen and (max-width: 610px) {
  .header__burger {
    display: block;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 36px;
}
@media (max-width: 1024px) {
  .menu__list {
    gap: calc(
        15px + 21 *
          ((100vw - 320px) / 1000)
      );
  }
}
@media screen and (max-width: 610px) {
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    background: #0d0d11;
    width: 100%;
    height: 200vh;
    overflow: auto;
    top: 0;
    left: -100%;
    padding: 60px 0 30px 30px;
    transition: 0.4s;
  }
  .menu__list.open {
    left: 0;
  }
}
.menu__link {
  font-size: 16px;
  line-height: 26px;
  transition: 0.4s;
  position: relative;
}
@media (max-width: 1320px) {
  .menu__link {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 1000)
      );
  }
}
.menu__link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: -3px;
  background: #3d96f4;
  margin: 0 auto;
  transition: 0.4s;
  left: 0%;
  right: 0%;
}
.menu__link:hover {
  color: #3d96f4;
}
.menu__link:hover::after {
  width: 100%;
}

.logo__image {
  width: 137px;
  transition: 0.4s;
}
@media (max-width: 1320px) {
  .logo__image {
    width: calc(
        80px + 57 *
          ((100vw - 320px) / 1000)
      );
  }
}
.logo__image path {
  transition: 0.4s;
  stroke: transparent;
}
.logo__image:hover path:nth-child(1) {
  fill: transparent;
  stroke: #0089ff;
}
.logo__image:hover path:nth-child(2) {
  fill: transparent;
  stroke: #f6ca4f;
}
.logo__image:hover path:nth-child(3) {
  fill: transparent;
  stroke: #5cc97b;
}
.logo__image:hover path:nth-child(4) {
  fill: transparent;
  stroke: #0089ff;
}/*# sourceMappingURL=main.css.map */